body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#tidbitContainer {
    text-align: center; 
    margin: 24px;
    margin-top: 10vh;  
    margin-left: auto;  /* Center the block horizontally */
    margin-right: auto;
    max-width: 60%;     /* Adjust the width as needed */
    padding: 20px;
    word-wrap: break-word; /* Ensure long words don't overflow */
    box-sizing: border-box;
    
    border: 2px solid #ccc; /* Add a 2px solid grey border */
    background-color: #f0f0f0; /* Add a slightly grey background color */
}

#previousButton, #nextButton {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the buttons vertically */
    margin-top: 20px; /* Add spacing between the buttons and the container */
}



#finishButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px; /* Add margin to move the Finish button downwards */
}

.review-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#indexDisplay {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
}

#homeButton {
    position: absolute;
    top: 0;
    left: 0;
}


button {
    margin: 5px;
    padding: 10px;
    /* Button styling */
}