body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#tidbitContainer {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
    max-width: 60%;    
    padding: 20px;
    word-wrap: break-word; /* Ensure long words don't overflow */
    box-sizing: border-box;
    
    border: 2px solid #ccc; /* Add a 2px solid grey border */
    background-color: #f0f0f0; /* Add a slightly grey background color */
}

.review-checkbox {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container #previousButton, .button-container #nextButton {
    order: 1; 
}

.button-container #finishButton {
    order: 2;
    margin-top: 10px;
}


.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px; /* Increase the font size */
    border-radius: 5px; /* Optional: rounded corners for the button */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

#indexDisplay {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #f0f0f0;
}

#homeButton {
    position: absolute;
    top: 0;
    left: 0;
}


