<!DOCTYPE html>
<html>
<head>
    <title>Tidbit Review</title>
    <link rel="stylesheet" type="text/css" href="static/review_styles.css">
</head>
<body>
    <div id="tidbitContainer" data-tidbits="{{tidbits}}">
    </div>
    <div class="review-checkbox">
        <input type="checkbox" id="review_checkbox">
        <label for="myCheckbox">Reviewed?</label>
        </div>
        
    <div class="button-container">
        <button id="previousButton">Previous</button>
        <button id="nextButton">Next</button>
        <button id="finishButton">Finish</button>
        <button id="homeButton">Home</button>
    </div>

    <div id="indexDisplay">1/0</div>
    
    
    <script src="/static/review_script.js"></script>
</body>
</html>
