<!DOCTYPE html>
<html>
<head>
    <title>Tidbit Review</title>
    <link rel="stylesheet" type="text/css" href="static/review_styles.css">
</head>
<body>
    <div id="tidbitContainer" data-tidbits="{{tidbits}}">
    </div>

    <button id="nextButton">Next</button>
    <button id="previousButton">Previous</button>
    <button id="finishButton">Finish</button>
    <button id="homeButton">Home</button>
    <div id="indexDisplay">1/0</div>
    <input type="checkbox" id="myCheckbox">
    <label for="myCheckbox">Check me</label>
    
    <script src="/static/review_script.js"></script>
</body>
</html>
